 @import url('https://fonts.googleapis.com/css2?family=Honk&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Honk&family=Rubik&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header{
    width: 100%;
    height: 15vh;
    background-color: #2980b9;
}
h1{
    color: white;
    text-align: center;
    font-size: 5rem;
    letter-spacing: 15px;
    text-transform: uppercase;
    text-shadow: 2px 30px 5px rgba(2, 2, 2, 0.1) ;
    font-family: 'Honk', system-ui;

}
section{
    height: 85vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color:#3498db ;
}

.gamearea{
    width: 50%;
    height: 400px;
    padding: 20px 0;
    background-color: #1e3b57;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    box-shadow: 0 8px 6px -6px black;
    font-family: 'Rubik', sans-serif;


}

h3{
    text-align: center;
    font-size: 1.5rem;
}
input{
    width: 40%;
    padding: 15px 0;
    text-align: center;
    border-radius: 25px;
    border: none;
    outline: none;
    background-color: #dff9fb;
    color: black;
    margin: 2rem 0;
    font-size: 1.1rem;
}

.btn{
    font-size: 1rem;
    cursor: pointer;
    outline: none;
    border: none;
    border: #2f3542;
    margin-top: 10px;
    color: #0e0d0d;
    padding: 1rem 2rem;
    background-color: white;
    text-transform: uppercase;
    transition-property:all ;
    transition-duration: 0.5s;
    transition-timing-function: cubic-bezier(0.65,-0.25,0.25,1.95);
    border-radius: 8px;

}
.btn:hover, btn:focus, btn:active{
    letter-spacing: 0.125rem;
    word-spacing: 0.2rem;
    background-color: #2980b9;
    color: #fff;

}

.hidden{
    display: none;
}
.msg{
    color: #fff;

} 



